* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 1%;
    margin-left: 3%;
}

.cuadrado-1 {
    width: 50px;
    height: 50px;
    background-color: red;
}

.cuadrado-2 {
    width: 120px;
    height: 50px;
    background-color: blue;
}

.cuadrado-3 {
    width: 180px;
    height: 50px;
    background-color: green;
}

.cuadrado-4 {
    width: 240px;
    height: 50px;
    background-color: yellow;
}


table {
    border-collapse: collapse;
    margin-bottom: 1%;
}

table th,
table td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: lightblue;
}

#color_numerito {
    background-color: lightblue;
}

.numero {
    background-color: lightgrey;
}