table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.barco {
    width: 30px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
}

.barco-colocado {
    background-color: blue;
}
