

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin-left: 50px;
    margin-top: 50px;
    
}

.giga-contenedor{
    display: flex;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

.imagen{
    width: 60px;
    margin-left: 20px;
}

th,
td {
    text-align: left;
    padding: 6px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.barco {
    width: 30px;
    height: 30px;
    background-color: gray;
    margin-right: 10px;
}

#barco1 {
    width: 30px;
    height: 30px;
    background-color: gray;

}

#barco2 {
    width: 60px;
    height: 30px;
    background-color: gray;

}

#barco3 {
    width: 90px;
    height: 30px;
    background-color: gray;

}

#barco4 {
    width: 120px;
    height: 30px;
    background-color: gray;

}

.barcos {
    display: flex;
}

.tocado {
    background-color: red;
}

.agua {
    background-color: blue;
}

#maquina{
    margin-top: 49px;
    margin-left: 100px;
}